.Global {
    display: flex;
    flex-direction: column;
    background-color:  rgba(19, 4, 4, 0.207);
    overflow: hidden;
}
.Name {
    display: flex;
    height: 10%;
    width: 100%;
}
/*.Name h4{*/
/*    color:rgba(29, 29, 29, 0.818);*/
/*}*/