*{
     margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
html {
    height: 100%;
    width:100%;
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Main{
    display: flex;
    flex-direction: column;
    width:70%;
    justify-content: center;
}
.Center{
    display: flex;
    height: 480px;
}
.onWheel {
    display: flex;
    width: 100%;
}
.Film {
    position: relative;
    display: flex;
    width:152px;
    border: 1px solid rgba(255, 255, 255, 0.466);
    transition: transform 0.5s ease-in-out;
}
.Film:hover{
    transform: scale(1.1 , 1.1);
}
.Film img{
    object-fit: cover;
    overflow: auto;
}
.kinobox_nav{
    height:100%;
}
.KinoboxPlayer{
    height:100%;
}
