.navbar{
    display:flex;
    flex-direction: row;
    height: 90px;
    width:100%;
    justify-content: space-around;
    align-items: center;
    background-color:  rgb(40, 40, 40) ;
}
.navbarLink{
    display: flex;
    width: 15%;
}
.centralblock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible ;
}
.centralblock img{
    object-fit: contain;
    height: 100%;
}
.dropdown_menu {
    position: absolute; /* Позиционирование относительно родительского контейнера */
    top:5%;/* Появляется под инпутом */
    width: 300px;
    height: 400px;
    background-color: #222; /* Темный фон для выпадающего меню */
    border: 2px solid #fff; /* Белая рамка */
    border-radius: 5px; /* Закругленные углы */
    z-index: 1000; /* Чтобы меню было поверх других элементов */
    display: none; /* Скрываем меню по умолчанию */
}
.find{
    display:flex;
    width: 100%;
    justify-content: end;
}
.logoname{
    display: flex;
    width: 225px;
    height: 75px;
}
.join{
    display: flex;
    height: 100%;
}
.logoname img{
    object-fit:cover;
    width: 100%;
    height:100%
}

.join a{
        font-size: 28px;
    font-family:'Arial', sans-serif; 
    font-weight: bold;
    color: rgba(161, 161, 161, 0.984);
    text-decoration: none;
    display: flex;
    margin-bottom: 0px;
    align-items: center;
}
.joinRegister{
    display: flex;
    justify-content: space-between;
    width: 17%;
    height: 100%;
}
.wrapperInput{
    display: flex;
    align-items: center;
    width:340px;
    border: 2px solid #fff; /* Белая рамка */
    border-radius: 5px; /* Закругленные углы */
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Занимает всю высоту экрана */
}

.search_input {
    padding: 10px;
    background-color: #222; /* Темно-серый фон инпута */
    color: #fff; /* Белый текст */
    width: 300px; /* Ширина инпута */
    transition: border-color 0.3s; /* Плавный переход для цвета рамки */
}

.search_input::placeholder {
    color: #bbb; /* Цвет плейсхолдера */
}

.search_input:focus {
    outline: none; /* Убираем стандартное выделение */
    border-color: #f39c12; /* Цвет рамки при фокусе */
    background-color: #333; /* Цвет фона при фокусе */
}
.wrapperImg{
    width: 10%;
    height:100%;
}
.wrapperImg img{
    width: 100%
}